<div class="d-flex vh-100 justify-content-center align-items-center">

  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Free Compliments!</h4>
      <div class="card-text my-3">
        <span *ngIf="!this.loading; else spinner">{{compliment}}</span>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="loading" (click)="loadCompliment()">
        Click to get another compliment
      </button>
    </div>
  </div>

</div>

<<ng-template #spinner>
  <span class="spinner-border">
  </span>
</ng-template>